# Docker-specific files
.dockerignore
Dockerfile

# Version control
.git
.gitignore

README.md

# IDE and editor files
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.swp
*.bak
*.old

# Build and dependencies
node_modules/
dist/
build/
*.log